<footer class="footer sticky-footer">
  <div class="" f-info>
    <div class="f-info-socials">
      <i class="fa fa-facebook"></i>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-twitter"></i>
    </div>

    <div class="f-info-brand">&copy; 2026 WanderLust Pvt Ltd</div>

    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
      <a href="/sitemap">Sitemap</a>
    </div>
  </div>
</footer>
