<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-4">
  <div class="col-8 offset-2">
    <h2 class="mb-4">Create a New Listing</h2>

    <form action="/listings" method="POST" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="title" class="form-label"> Title </label>

        <input
          type="text"
          class="form-control"
          id="title"
          name="listing[title]"
          placeholder="Enter listing title"
          required
        />
        <div class="valid-feedback">Title looks good.</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label"> Description </label>

        <textarea
          class="form-control"
          id="description"
          name="listing[description]"
          rows="4"
          placeholder="Enter listing description"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter the Discription.</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>

        <input
          type="url"
          class="form-control"
          id="image"
          value="https://images.unsplash.com/photo-1506744038136-46273834b3fb"
          name="listing[image][url]"
          placeholder="Enter image URL (Optional)"
        />

        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label"> Price </label>

        <input
          type="number"
          class="form-control"
          id="price"
          name="listing[price]"
          placeholder="Enter price"
          required
        />
        <div class="invalid-feedback">Please enter the price.</div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label"> Location </label>

        <input
          type="text"
          class="form-control"
          id="location"
          name="listing[location]"
          placeholder="Enter location"
          required
        />
        <div class="invalid-feedback">Please enter the Location.</div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label"> Country </label>

        <input
          type="text"
          class="form-control"
          id="country"
          name="listing[country]"
          placeholder="Enter country"
          required
        />

        <div class="invalid-feedback">Please enter the Country.</div>
      </div>

      <button class="btn add-btn">Create Listing</button>
    </form>
  </div>
</div>
